<section class="footer">
  <div class="container py-1">
    <div class="row g-4">
      <div class="col-md-4">
        <div
          class="d-flex align-items-center justify-content-center flex-column"
        >
          <span class="my-4 icon"
            ><i class="fa-solid fa-phone fa-xl p-0" style="color: #ffffff"></i
          ></span>
          <h4 class="h5 text-white">0945868253</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex align-items-center justify-content-center flex-column"
        >
          <span class="my-4 icon"
            ><i
              class="fa-solid fa-envelope fa-xl p-0"
              style="color: #ffffff"
            ></i
          ></span>
          <h4 class="h5 text-white">nargesmohammed223gamil.com</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex align-items-center justify-content-center flex-column"
        >
          <span class="my-4 icon"
            ><i
              class="fa-solid fa-location-dot fa-xl p-0"
              style="color: #ffffff"
            ></i
          ></span>
          <h4 class="h5 text-white">Libya : Tripoli</h4>
        </div>
      </div>
    </div>
    <hr />
    <div class="row g-4">
      <div class="col-md-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div class="d-flex align-items-center">
            <img
              src="./assets/images/Screenshot 2024-03-10 154940.png"
              class="logo"
            />
            <h3 class="text-white">Fresh Cart</h3>
          </div>
          <p>Our Story</p>
          <p>Awards</p>
          <p>Our Team</p>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <h4>Company</h4>
          <p>Our Service</p>
          <p>Clients</p>
          <p>Contact</p>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <h4>Resourses</h4>
          <p>Blog</p>
          <p>Privacy</p>
          <p>News Letter</p>
        </div>
      </div>
      <div class="col-md-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <h4>Subscribe</h4>
          <div class="d-flex align-items-center">
            <input type="email" class="form-control" placeholder="Eamil" />
            <i class="fa-solid fa-arrow-right fa-xl text-main"></i>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <h6 class="text-white">
        Copyright © All Right Reserved
        <span class="px-2 text-main fw-bold">narges Mohammed</span>
      </h6>
    </div>
  </div>
</section>
